<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

  <header class="navbar navbar-fixed-top navbar-inverse">
    <h1 class="section__title">Zásobovanie</h1>

    <nav class="menu menu--prospero">

      <ul class="menu__list">
        <li class="menu__item">
          <a href='/after_login'class="menu__link">Domov</a>
        </li>
        <li class="menu__item">
          <a href='/vytvor_pobocka2' class="menu__link">Vytvor pobocku</a>
        </li>
        <li class="menu__item">
          <a href='/vytvor_produkt' class="menu__link">Vytvor produkt</a>
        </li>
        <li class="menu__item">
          <a href='/uprav_mnozstvo' class="menu__link">Uprav množstvo</a>
              </li>
              <li class="menu__item">
          <a href='/objednavka' class="menu__link">Zobraz objednávku</a>
              </li>
              <li class="menu__item menu__item--current">
          <a href='/emails' class="menu__link">Zobraz upozornenia</a>
        </li>
      </ul>
      
    </nav>
  </header>
<head>
</section>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modal</title>
  <link href="/static/css/styles.css" rel="stylesheet">
  <script defer src="/static/css/script.js"></script>
</head>
{% if list_emails_products|length < 1 %}
            <h4 style="text-align: center;">Nie su k dispozicii ziadne upozornenia!</1>
{% else %} 
{% for email in list_emails_products %}
    Produkt {{email.produkt_name}} klesol pod minimum
  <button data-modal-target="#modal{{email.email_id}}">Zobraz {{email.produkt_name}}</button>
  <br>
  <div class="modal" id="modal{{email.email_id}}">
    <div class="modal-header">
      <div class="modal-body">{{email.produkt_name}}</div>
      <button data-close-button class="modal-body">&times;</button>
    </div>
    <div class="modal-body">
      Nazov produktu: {{email.produkt_name}}
      <br>
      Dalsi predaj: {{email.dalsi_predaj}}
      <br>
      Minimalny pocet: {{email.min_pocet}}
      <br>
      Aktualny pocet: {{email.aktualny_pocet}}
      <br>
      <div class="form">
        <form actions = '/etiketa_update/{{email.email_id}}' method = "POST">
        <input type="submit" value="Odober etiketu">
        </form>
      </div>
      <!--<a href="/emails/etiketa_update/{{email.id}}">Odober etiketu</a>-->
      <a href="/etiketa_update/{{email.email_id}}">Odober etiketu</a>
      <a href="/pridaj_do_objednavky/{{email.email_id}}">Pridaj do objednavky</a>
    </div>
  </div>
  <div id="overlay"></div>
{% endfor %}
{% endif %}
<div>
  <a href="/">Spat</a>
  </div>
