<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

    <header class="navbar navbar-fixed-top navbar-inverse">
        <h1 class="section__title">Zásobovanie</h1>

	<nav class="menu menu--prospero">

		<ul class="menu__list">
			<li class="menu__item">
				<a href='/after_login'class="menu__link">Domov</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_pobocka2' class="menu__link">Vytvor pobocku</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_produkt' class="menu__link">Vytvor produkt</a>
			</li>
			<li class="menu__item">
				<a href='/uprav_mnozstvo' class="menu__link">Uprav množstvo</a>
            </li>
            <li class="menu__item menu__item--current">
				<a href='/objednavka' class="menu__link">Zobraz objednávku</a>
            </li>
            <li class="menu__item">
				<a href='/emails' class="menu__link">Zobraz upozornenia</a>
			</li>
		</ul>
		
	</nav>

</section>
<h1>Objednavka!</h1>
<table style="text-align: center;">
    <tr>
        <th>email_id</th>
        <th>produkt_id</th>
        <th>min_pocet</th>
        <th>objednavane_mnozstvo</th>
        <th>aktualne_mnozstvo</th>
        <th>produkt_pobocka_id</th>
        <th>produkt_name</th>
        <th>produkt_objednavka</th>
    </tr>
    {% for order in list_of_orders %}
        <tr>
            <td>{{ order.email_id }}</td>
            <td>{{ order.produkt_id }}</td>
            <td>{{ order.min_pocet }}</td>
            <td>{{ order.objednavane_mnozstvo }}</td>
            <td>{{ order.aktualne_mnozstvo }}</td>
            <td>{{ order.produkt_pobocka_id }}</td>
            <td>{{ order.produkt_name }}</td>
            <td>{{ order.produkt_objednavka_id }}</td>
            <td>{{ order.poznamka }}</td>
        </tr>
    {% endfor %}
</table>
<div class="form">
    <form actions = '/objednavka' method = "POST">
    <input type="submit" value="Objednaj">
</form>
</div>
<a href="/">spat</a>
