<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

    <header class="navbar navbar-fixed-top navbar-inverse">
        <h1 class="section__title">Zásobovanie</h1>

	<nav class="menu menu--prospero">

		<ul class="menu__list">
			<li class="menu__item">
				<a href='/after_login'class="menu__link">Domov</a>
			</li>
			<li class="menu__item menu__item--current">
				<a href='/vytvor_pobocka2' class="menu__link">Vytvor pobočku</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_produkt' class="menu__link">Vytvor produkt</a>
			</li>
			<li class="menu__item">
				<a href='/uprav_mnozstvo' class="menu__link">Uprav množstvo</a>
            </li>
            <li class="menu__item">
				<a href='/objednavka' class="menu__link">Zobraz objednávku</a>
            </li>
            <li class="menu__item">
				<a href='/emails' class="menu__link">Zobraz upozornenia</a>
            </li>
            <li class="menu__item ">
				<a href='/pridaj_produkt' class="menu__link">Pridaj produkt</a>
			</li>
		</ul>
		
	</nav>

</section>
<link href="/static/css/tables.css" rel="stylesheet">
<table class="container container-form">
    <div class="form">
        <form actions = '/vytvor_pobocka2' method = "POST">
            <th>
            Názov:
            <input type="text" name="name" id="name">
            </th>
            <th>
            Adresa:
            <input type="text" name="adresa" id="adresa">
            </th>
            <th>
            <input type="submit" value="Pridaj pobocku" name="button" id="pridaj_pobocku">
            </th>
        </form>
    </div>
</table>
<div class="content">
    {% if pobocky|length < 1 %}
    <h4 style="text-align: center;">Nie su k dispozicii ziadne produkty, vytvor nejakeho kliknutim dole!</1>
    {% else %} 
    <table class="container">
        <thead>
            <th>Poradie</th>
            <th>Názov</th>
            <th>Adresa</th>
        </tr>
    </thead>
    <tbody>
        {% for pobocka in pobocky %}
            <tr>
                <td>{{ pobocka.id }}</td>
                <td>{{ pobocka.name }}</td>
                <td>{{ pobocka.adresa }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
    {% endif %}
        <div>
        <a href="/uprav_mnozstvo">Uprav mnozstvo</a>
        </div>
    <a href="/">Spat</a>
</div>
<div>

</div>