<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

	<h2 class="section__title">Prospero</h2>

	<nav class="menu menu--prospero">

		<ul class="menu__list">
			<li class="menu__item">
				<a class="menu__link">Home</a>
			</li>
			<li class="menu__item menu__item--current">
				<a href='/vytvor_pobocka2' class="menu__link">Who we are</a>
			</li>
			<li class="menu__item">
				<a class="menu__link">What we offer</a>
			</li>
			<li class="menu__item">
				<a class="menu__link">Our news</a>
			</li>
			<li class="menu__item">
				<a class="menu__link">Contact us</a>
			</li>
		</ul>
		
	</nav>

</section>
<div class="content">
    {% if pobocky|length < 1 %}
    <h4 style="text-align: center;">Nie su k dispozicii ziadne produkty, vytvor nejakeho kliknutim dole!</1>
    {% else %} 
    <table style="text-align: center;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adresa</th>
            <th>Actions</th>
        </tr>
        {% for pobocka in pobocky %}
            <tr>
                <td>{{ pobocka.id }}</td>
                <td>{{ pobocka.name }}</td>
                <td>{{ pobocka.adresa }}</td>
                <td>
                    <a href="/delete_produkt/{{pobocka.id}}">Delete</a>
                    <br>
                    <a href="/update_produkt/{{pobocka.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form actions = '/vytvor_pobocka2' method = "POST">
            Nazov:
            <input type="text" name="name" id="name">
            Adresa:
            <input type="text" name="adresa" id="adresa">
            <input type="submit" value="Pridaj pobocku" name="button" id="pridaj_pobocku">
        </form>
    </div>
    <div class="form">
        <form actions = '/vytvor_pobocka2' method = "POST">
            Nazov:
            <input type="text" name="nazov" id="nazov">
            Produkt:
            <select name="comp_select" class="selectpicker form-control">
                {% for produkt in produkty %}
                <option value="{{ produkt.id }}">{{ produkt.name }}</option>
                {% endfor %}
            </select>
            Pobocka:
            <select name="comp_select2" class="selectpicker form-control">
                {% for pobocka in pobocky %}
                <option value="{{ pobocka.id }}">{{ pobocka.adresa }}</option>
                {% endfor %}
            </select>
            <!--<input type="text" name="pobocka_id" id="pobocka_id">-->
            Pocet pobocka:
            <input type="text" name="pocet_pobocka" id="pocet_pobocka">
            Pokles minima
            <input type="text" name="pokles_minima" id="pokles_minima">
            <input type="submit" value="Pridaj produkt" name="button" id="pridaj_produkt">
        </form>
    </div>
        <div>
        <a href="/uprav_mnozstvo">Uprav mnozstvo</a>
        </div>
    <a href="/">Spat</a>
</div>
<div>

</div>