<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

    <header class="navbar navbar-fixed-top navbar-inverse">
        <h1 class="section__title">Zásobovanie</h1>

	<nav class="menu menu--prospero">

		<ul class="menu__list">
			<li class="menu__item">
				<a href='/after_login'class="menu__link">Domov</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_pobocka2' class="menu__link">Vytvor pobocku</a>
			</li>
			<li class="menu__item menu__item--current">
				<a href='/vytvor_produkt' class="menu__link">Vytvor produkt</a>
			</li>
			<li class="menu__item">
				<a href='/uprav_mnozstvo' class="menu__link">Uprav množstvo</a>
            </li>
            <li class="menu__item">
				<a href='/objednavka' class="menu__link">Zobraz objednávku</a>
            </li>
            <li class="menu__item">
				<a href='/emails' class="menu__link">Zobraz upozornenia</a>
            </li>
            <li class="menu__item ">
				<a href='/pridaj_produkt' class="menu__link">Pridaj produkt</a>
			</li>
		</ul>
		
	</nav>

</section>
<div class="content">
    {% if produkt_list|length < 1 %}
    <h4 style="text-align: center;">Nie su k dispozicii ziadne produkty, vytvor nejakeho kliknutim dole!</1>
    {% else %} 
    <table style="text-align: center;">
        <tr>
            <th>Name</th>
            <th>Min Pocet</th>
            <th>Dalsi predaj</th>
            <th>Actions</th>
        </tr>
        {% for produkt in produkt_list %}
            <tr>
                <td>{{ produkt.name }}</td>
                <td>{{ produkt.min_pocet }}</td>
                <td>{{ produkt.dalsi_predaj }}</td>
                <td>
                    <a href="/delete_produkt/{{produkt.id}}">Delete</a>
                    <br>
                    <a href="/update_produkt/{{produkt.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form actions = '/vytvor_produkt' method = "POST">
            Nazov:
            <input type="text" name="name" id="name">
            Min pocet:
            <input type="text" name="min_pocet" id="min_pocet">
            Dalsi predaj:
            <input type="text" name="dalsi_predaj" id="dalsi_predaj">
            <input type="submit" value="Pridaj produkt">
        </form>
    </div>
    <a href="/">Spat</a>
</div>
