<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

    <header class="navbar navbar-fixed-top navbar-inverse">
        <h1 class="section__title">Zásobovanie</h1>

	<nav class="menu menu--prospero">

		<ul class="menu__list">
			<li class="menu__item">
				<a href='/after_login'class="menu__link">Domov</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_pobocka2' class="menu__link">Vytvor pobočku</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_produkt' class="menu__link">Vytvor produkt</a>
			</li>
			<li class="menu__item menu__item--current">
				<a href='/uprav_mnozstvo' class="menu__link">Uprav množstvo</a>
            </li>
            <li class="menu__item">
				<a href='/objednavka' class="menu__link">Zobraz objednávku</a>
            </li>
            <li class="menu__item">
				<a href='/emails' class="menu__link">Zobraz upozornenia</a>
            </li>
            <li class="menu__item ">
				<a href='/pridaj_produkt' class="menu__link">Pridaj produkt</a>
			</li>
		</ul>
		
	</nav>
    <head>
        <meta charset="UTF-8">
        <title>Dynamic Form Example</title>
        <script
                src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
    </head>
  
</section>
<link href="/static/css/tables.css" rel="stylesheet">
<table class="container container-form">
    <div class="nadpis">
        <h1>Úprava množstva</h1>
    </div>

    <body>
        Products:
        <form action="/uprav_mnozstvo" method="post">
            <th>

            <div id="products"></div>
            <button id="add_item" type="button">Pridaj tovar</button>
            <input type="submit" value="Odrataj" name="button" id="Odrataj">
            <input type="submit" value="Prirataj" name="button" id="Prirataj">
        </th>

        </form>
        <script>
            $(document).ready(function(){
                var count_item = 0;
                var s = $('<select />');
                var list_of_products = '{{list_of_products|tojson}}'
                var list_of_products2=JSON.parse(list_of_products)

                $("#add_item").on("click", function(){
                    count_item += 1;
                    $("<input/>").attr({ type: "text", placeholder: "Zadaj mnozstvo",
                        name: "item_"+count_item}).appendTo("#products").wrap($("<div/>"));
                        var sel = $('<select>').attr({type:"dropdown",name: "product_"+count_item}).appendTo('#products').wrap($("<div/>"));;

                for( i in list_of_products2){
                sel.append($("<option>").attr('value',list_of_products2[i].id).text(list_of_products2[i].meno));
                }
                });
            })
        </script>
    </body>
</table>