<link href="/static/css/login.css" rel="stylesheet">
<section class="section section--menu" id="Prospero">

    <header class="navbar navbar-fixed-top navbar-inverse">
        <h1 class="section__title">Zásobovanie</h1>

	<nav class="menu menu--prospero">

		<ul class="menu__list">
			<li class="menu__item">
				<a href='/after_login'class="menu__link">Domov</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_pobocka2' class="menu__link">Vytvor pobočku</a>
			</li>
			<li class="menu__item">
				<a href='/vytvor_produkt' class="menu__link">Vytvor produkt</a>
			</li>
			<li class="menu__item menu__item--current">
				<a href='/uprav_mnozstvo' class="menu__link">Uprav množstvo</a>
            </li>
            <li class="menu__item">
				<a href='/objednavka' class="menu__link">Zobraz objednávku</a>
            </li>
            <li class="menu__item">
				<a href='/emails' class="menu__link">Zobraz upozornenia</a>
            </li>
            <li class="menu__item ">
				<a href='/pridaj_produkt' class="menu__link">Pridaj produkt</a>
			</li>
		</ul>
		
    </nav>
  
<link href="/static/css/tables.css" rel="stylesheet">
<table class="container container-form">
    <div class="nadpis">
        <h1>Úprava množstva</h1>
    </div>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Dynamic Form Example</title>
            <script
                    src="https://code.jquery.com/jquery-1.12.4.min.js"
                    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                    crossorigin="anonymous"></script>
        </head>
        <body>
            Products:
            <form action="/uprav_mnozstvo" method="post">
                <div id="products"></div>
                <button id="add_item" type="button">Add item</button>
                <input type="submit" value="Produkty" name="button" id="Produkty">
            </form>
            <script>
                $(document).ready(function(){
                    //var list_of_products = '{{list_of_products}}'
                    var count_item = 0;
                    var s = $('<select />');
                    list_of_products = '{{list_of_products|tojson}}'

                    $("#add_item").on("click", function(){
                        count_item += 1;
                        $("<input/>").attr({ type: "text", placeholder: "Enter product name",
                            name: "item_"+count_item}).appendTo("#products").wrap($("<div/>"));
                        
                        //for(var i in list_of_products){
                        //$("<select/>").attr({ type: "option",  name: "item_"+count_item}).appendTo("#products").wrap($("<div/>"));
                        //}
                        //list_of_products = [{'id': 3284, 'meno': 'tovar123'}, {'id': 462, 'meno': 'skuska'}, {'id': 461, 'meno': 'Heanel'}, {'id': 443, 'meno': 'blaser r8'}, {'id': 447, 'meno': 'IZ-18'}, {'id': 550, 'meno': 'nwm'}, {'id': 642, 'meno': 'Browning'}, {'id': 449, 'meno': 'Remington 700'}, {'id': 445, 'meno': 'ZKK 600 '}, {'id': 1381, 'meno': 'bergera'}];
    
    
                        var list_of_products2=JSON.parse(list_of_products)
                        var sel = $('<select>').appendTo('#products');
                        console.log(list_of_products2)
                        for( i in list_of_products2){
                        console.log(i)
                        sel.append($("<option>").attr('value',list_of_products2[i].id).text(list_of_products2[i].meno));
    }});
                     

                    //   $.each(list_of_products, function(i, p) {
   // $('#select').append($('<option></option>').val(p).html(p));
//});
                })
            </script>
        </body>
    <div class="content">
        <div class="form">
            <form actions = '/vytvor_pobocka2' method = "POST">
                <th>
                Produkt:
                <select name="comp_select" class="selectpicker form-control">
                    {% for produkt in list_of_products %}
                    <option value="{{ produkt.id }}">{{ produkt.meno }}</option>
                    {% endfor %}
                </select>
                </th>
                <th>
                Množstvo:
                <input type="text" name="mnozstvo" id="mnozstvo">
                </th>
                <th>
                <input type="submit" value="Odrataj" name="button" id="Odrataj">
                </th>
                <th>
                <input type="submit" value="Prirataj" name="button" id="Prirataj">
                </th>
            </form>
        </div>
    </div>
</table>
